* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Quicksand',
        sans-serif;
}

video {
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -10;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.755);
    z-index: 40000;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 95px;
    margin: 20px;
    margin-left: 80px;
    font-size: 1.3rem;
}

#logo {
    z-index: 1000;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* slider */

/* Slideshow container */
.slideshow-container {
    position: relative;
}

.sliderImg {
    margin: 7px auto;
    vertical-align: middle;
    height: 1200px;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .6
    }

    to {
        opacity: 1
    }
}

.sliderTitle {
    color: #fff;
    position: relative;
    top: -750px;
    text-align: center;
    text-decoration: underline;
}

.silerText {
    color: #fff;
    width: 830px;
    text-align: center;
    position: relative;
    top: -720px;
    left: 780px;
    line-height: 1.6;
    font-size: 1.1rem;
}

/* Wine Club */

.boxIcon {
    width: 100%;
    height: 650px;
}

.boxIcon .bgcImg {
    z-index: -1;
    width: 50%;
    height: 630px;
    opacity: 0.1;
    position: relative;
    top: -600px;
    display: flex;
    margin: 0 auto;
}

.boxIcon h1 {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    /* text-decoration: underline; */
}

a,
a:visited {
    text-decoration: none;
    position: relative;
    color: rgb(0, 0, 0);
}

a:after,
a:visited:after {
    content: '';
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    background: rgb(0, 0, 0);
    transition: 0.2s;
}

a:hover:after,
a:visited:hover:after {
    width: 100%;
}

a.block,
a:visited.block {
    display: block;
    padding: 0.5em;
}

a.block:hover,
a:visited.block:hover {
    background: #eee;
}

.boxIcon p {
    text-align: center;
    width: 850px;
    line-height: 1.6;
    position: relative;
    left: 750px;
}

.boxIcon .icons {
    /* background-color: #fff; */
    display: grid;
    grid-template: 100px / auto auto auto;
    text-align: center;
    font-size: 70px;
    line-height: 3;
}

.boxIcon .icons #present {
    color: brown;
}

.boxIcon .icons #delivery {
    color: brown;
}

.boxIcon .icons #wine {
    color: #a52a2a;
}


.boxIcon .textIcons {
    display: grid;
    grid-template-columns: 800px 800px 800px;
    text-align: center;
    line-height: 9;
    font-size: 1.3rem;
}

.btnClub {
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border: 1px solid #000;
    outline: 0;
    cursor: pointer;
    font-size: 1.1rem;
    background: none;
    box-shadow: inset 0 0 0 0 #a52a2a;
    transition: ease-out 0.8s;
}

.btnClub:hover {
    box-shadow: inset 300px 0 0 0 #a52a2a;
    cursor: pointer;
    color: #fff;
    border: none;
}

.boxVisitor {
    width: 100%;
    height: 500px;
    background-image: url(images/winery.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wines {
    width: 100%;
    display: grid;
}

.wines h2 {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    text-transform: uppercase;
}

.wines .imgs {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px 200px;
    margin: 0 auto;
}

.contact {
    width: 100%;
    height: 1000px;
    background-image: url(images/view-winery.jpeg);
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.546);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    width: 850px;
    position: relative;
    top: 250px;
    margin: 0 auto;
}

.container .details {
    width: 300px;
    padding: 15px;
}

form {
    padding: 40px 70px;
    width: 500px;
}

.form-control {
    position: relative;
    border: none;
}

.form-control label {
    color: rgb(108, 106, 106);
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    border: none;
    border-bottom: 1px solid rgb(172, 170, 170);
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    outline: none;
}

input[type="submit"] {
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 1.2rem;
    width: 50%;
    margin: 0 auto;
    outline: none;
    box-shadow: inset 0 0 0 0 rgb(242, 185, 63);
    transition: ease-out 0.8s;
}

input[type="submit"]:hover {
    box-shadow: inset 300px 0 0 0 rgb(242, 185, 63);
    cursor: pointer;
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: relative;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

/* 2 */
#popupWrapper {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

#popup {
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    position: relative;
}

#popupClose {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 80px;
    background-color: rgb(41, 23, 23);
}

.socialmediaicons ul {
    margin-left: 300px;
    padding: 0;
    list-style: none;
}

.socialmediaicons ul li {
    display: inline-block;
    margin-left: 5px
}

.socialmediaicons ul li img {
    width: 35px;
    border-radius: 50%;
}

footer .footerText {
    color: #fff;
    display: flex;
    line-height: 5;
    justify-content: flex-end;
    margin-right: 100px;
}