* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Quicksand',
        sans-serif;
}

video {
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -10;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 90px;
    margin: 20px;
    margin-left: 80px;
    font-size: 1.3rem;
}

#logo {
    z-index: 1000;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/* slider */

#slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    ;
}

.slide {
    width: 100%;
    display: block;
    animation-name: fade;
    animation-duration: 1s;
    height: 700px;
}

.sliderImg {
    width: 100%;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    padding: 15px 10px;
    border-radius: 5px;
    color: whitesmoke;

}

.controls:hover {
    background: grey;
    transition: 0.3s;
}

.controls:active {
    color: grey;
}

#left-arrow {
    left: 10px;
}

#right-arrow {
    right: 10px;
}

#dots-con {
    text-align: center;
}

.dot {
    display: inline-block;
    background: rgba(255, 255, 255, 0.662);
    padding: 8px;
    border-radius: 50%;
    margin: 10px 5px;
}

.active {
    background: rgba(90, 90, 90, 0.856);
}

@media (max-width:576px) {
    #slider {
        width: 100%;

    }

    .controls {
        font-size: 1em;
    }

    #dots-con {
        display: none;
    }
}

/* boxText - on slider */

.sliderTitle {
    color: #fff;
    position: relative;
    top: -500px;
    left: 1120px;
    text-decoration: underline;
}

.silerText {
    color: #fff;
    width: 830px;
    text-align: center;
    position: relative;
    top: -470px;
    left: 780px;
    line-height: 1.6;
    font-size: 1.1rem;
}

/* Wine Club */

.boxIcon {
    width: 100%;
    height: 630px;
    background-color: rgb(228, 224, 224);
}

.boxIcon h1 {
    text-align: center;
    padding: 50px;
    text-decoration: underline;
}

.boxIcon p {
    text-align: center;
    width: 850px;
    line-height: 1.6;
    position: relative;
    left: 750px;
}

.boxIcon .icons {
    /* background-color: #fff; */
    display: grid;
    grid-template: 100px / auto auto auto;
    text-align: center;
    font-size: 70px;
    line-height: 3;
}

.boxIcon .icons #present {
    color: brown;
}

.boxIcon .icons #delivery {
    color: brown;
}

.boxIcon .icons #wine {
    color: #a52a2a;
}


.boxIcon .textIcons {
    display: grid;
    grid-template-columns: 800px 800px 800px;
    text-align: center;
    line-height: 10;
    font-size: 1.2rem;
}

.btnClub {
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border-radius: 100px;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 1.1rem;
    box-shadow: inset 0 0 0 0 #a52a2a;
    transition: ease-out 0.8s;
}

.btnClub:hover {
    box-shadow: inset 300px 0 0 0 #a52a2a;
    cursor: pointer;
    color: #fff;
}

.boxVisitor {
    width: 100%;
    height: 800px;
    background-image: url(images/winery.jpeg);
    background-size: cover;
    background-position: center;
}